@model IEnumerable<SalesWebMVC.Models.Department>

@{
    ViewData["Title"] = "Index";
}
<br />
<h1>Departments</h1>
<br />
<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th> 
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(model => item.Name)
            </td>
            <td align="right">
                <a class="btn btn-outline-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
